/*==============================
=            Layout           =
==============================*/

body {
	margin-top:5em;
	max-width: 45em;
	margin: auto;
	padding: 1em;
	background-color: lighten(gray, 20%);
}

.main { 
	max-width:40em;
	padding: 2em;
}

.intro {
	text-align:center;
}

.caption {
	font-style: italic;
	font-weight: 400;
	text-align:center;
}

// footer {
// 	text-align:center;
// 	padding-top:25em;
// 	padding-bottom:2em;
// }