/*=============================
=            Links            =
=============================*/

a {
	color: #222222;
		&:focus {
		text-decoration: none;
		}
		&:hover {
		border-bottom: 2px solid #586A79;
		}
}

