body {
	font-family: "Open Sans", sans-serif;
	margin-top:5em;
	background-color: rgba(236, 217, 168, 0.43);
	font-weight:400;
	color:#222;
}


.intro {
	text-align:center;
}

h1 {
	font-weight:600;
	font-size:2.9em;
	color: #586A79;
}

h2 {
	text-align: center;
}

.caption {
	font-style: italic;
	font-weight: 400;
}

/* Link Styling */
a, a:focus {
	text-decoration: none;
color:#222;
	
}

a:hover {
	border-bottom: 2px solid #586A79;
}

footer {
	text-align:center;
	padding-top:25em;
	padding-bottom:2em;
}