/*==============================
=            Layout           =
==============================*/

body {
	margin-top:2em;
	max-width: 50%;
	margin: auto;
	padding: 1em;
	background-color: rgba(179, 179, 179, 0);
	margin-bottom: 3em;
}

.main { 
	max-width:45%;
}

.intro {
	text-align:center;
}

.caption {
	font-style: italic;
	font-weight: 400;
	text-align:center;
}

// footer {
// 	text-align:center;
// 	padding-top:25em;
// 	padding-bottom:2em;
// }