/*==============================
=            Layout           =
==============================*/

body {
	margin-top:2em;
	max-width: 50em;
	margin: auto;
	padding: 1em;
	background-color: rgba(152, 175, 171, 0.53);
	margin-bottom: 3em;
}

.main { 
	max-width:30em;
}

// footer {
// 	text-align:center;
// 	padding-top:25em;
// 	padding-bottom:2em;
// }