/*=============================
=            Links            =
=============================*/

a {
	color: #222222;
	text-decoration: none;
		&:focus {
		text-decoration: none;
		}
		&:hover {
		border-bottom: 3px solid #E3A424;
		}
}

