/*=============================
=            Links            =
=============================*/

a {
	color: rgba(0, 73, 96, 0.89);
	text-decoration: none;
	border-bottom: 3px solid #E3A424;
	font-weight:strong;
		&:focus {
		text-decoration: none;
		}
		&:hover {
		border-bottom: none;
		}
}

