/*=============================
=            Links            =
=============================*/

a {
	color: #222222;
	text-decoration: none;
	border-bottom: 3px solid #E3A424;
		&:focus {
		text-decoration: none;
		}
		&:hover {
		background-color: rgba(57, 53, 111, 0.11);
		padding: 5px;
		border: none;
		}
}

