/*==================================
=           Typography            =
==================================*/

// Fonts in Typekit:

// font-family: "grafolita-script", sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: "lust-script",sans-serif;
// font-style: normal;
// font-weight: 400;

// font-family: "pragmatica-web",sans-serif;
// font-style: normal;
// font-weight: 300;

body, p {
	font-family: "pragmatica-web",sans-serif;
	font-style: normal;
	font-weight: 300;
	color:#222;
}

h1, h2 {
	font-family: "grafolita-script", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #586A79;
	text-align: center;
}

h1 {
	font-size: 2.9em;
}

h2 {
	font-size: 1.5em;
}