/**
*
* Alibi Creator CSS
*
**/
/*==============================
=            Layout           =
==============================*/
body {
  margin-top: 2em;
  max-width: 50em;
  margin: auto;
  padding: 1em;
  background-color: rgba(152, 175, 171, 0.53);
  margin-bottom: 3em;
}

main {
  max-width: 45em;
}

footer {
  margin-top: 3em;
  text-align: center;
}

/*============================================
=           Form Element Styling            =
============================================*/
.grid-form fieldset {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

/*==================================
=           Typography            =
==================================*/
body, p, li {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
  color: #222;
  font-size: 1.1em;
  line-height: 1.5em;
}

h1, h2, .caption {
  font-family: "adelle",serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}

h1.fitThis {
  border-bottom: 5px solid #E3A424;
  line-height: 1.3;
  color: rgba(0, 73, 96, 0.89);
  text-shadow: 5px 3px rgba(193, 178, 172, 0.89);
}

h1 {
  font-size: 2.9em;
}

h2 {
  font-size: 1.5em;
}

.intro {
  text-align: center;
}

.caption {
  font-size: 1.7em;
  font-style: italic;
}

.capitalized {
  text-transform: capitalize;
}

/*=============================
=            Links            =
=============================*/
a {
  color: #222222;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover {
  border-bottom: 3px solid #E3A424;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* ================================
=            Elements            =
================================ */
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

hr {
  border-bottom: 4px solid #E3A424;
  margin-bottom: 2em;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

li {
  padding: 0.5em;
}

/* ==================================
=            Grid Forms            =
================================== */
/* ! Source:https://github.com/kumailht/gridforms */
.grid-form *, .grid-form *:before, .grid-form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background: whitesmoke;
}

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea {
  border: 0;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 3px;
}

.grid-form input[type="text"]::-webkit-input-placeholder, .grid-form input[type="email"]::-webkit-input-placeholder, .grid-form textarea::-webkit-input-placeholder {
  font-weight: 100;
  color: #595959;
}

.grid-form input[type="text"]:-moz-placeholder, .grid-form input[type="email"]:-moz-placeholder, .grid-form textarea:-moz-placeholder {
  font-weight: 100;
  color: #595959;
}

.grid-form input[type="text"]:focus, .grid-form input[type="email"]:focus, .grid-form textarea:focus {
  outline: none;
}

.grid-form fieldset {
  border: none;
  padding: 0;
}

.grid-form fieldset legend {
  border: none;
  border-bottom: 4px solid #E3A424;
  font-size: 1.3em;
  font-weight: 500;
  position: static;
  width: 100%;
}

.grid-form fieldset fieldset legend {
  border-bottom: 2px solid #404040;
  font-weight: normal;
}

.grid-form fieldset fieldset fieldset legend {
  border-bottom: 1px solid #404040;
  font-weight: normal;
  font-size: 15px;
}

.grid-form [data-row-span] {
  border-bottom: 1px solid #333333;
  width: 100%;
  zoom: 1;
}

.grid-form [data-row-span]:before, .grid-form [data-row-span]:after {
  content: "";
  display: table;
}

.grid-form [data-row-span]:after {
  clear: both;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  .grid-form [data-row-span] {
    border-bottom: none;
  }
}
.grid-form [data-row-span] [data-field-span] {
  padding: 8px;
  float: left;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  .grid-form [data-row-span] [data-field-span] {
    border-bottom: 1px solid #333333;
    width: 100% !important;
  }
}
@media screen and (min-width: 700px) {
  .grid-form [data-row-span] [data-field-span] {
    border-right: 1px solid #333333;
    display: block;
  }
}
.grid-form [data-row-span] [data-field-span] label:first-child {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #333333;
  display: block;
  margin-bottom: 4px;
}

.grid-form [data-row-span] [data-field-span] label:first-child:hover {
  cursor: text;
}

.grid-form [data-row-span] [data-field-span]:last-child {
  border-right: none;
}

.grid-form [data-row-span] [data-field-span].focus {
  background: rgba(57, 53, 111, 0.11);
}

.grid-form [data-row-span] [data-field-span].focus label {
  color: #262626;
}

.grid-form [data-row-span] [data-field-span]:hover {
  background-color: rgba(57, 53, 111, 0.11);
  cursor: text;
}

.grid-form [data-row-span="1"] > [data-field-span="1"] {
  width: 100%;
}

.grid-form [data-row-span="2"] > [data-field-span="1"] {
  width: 50%;
}

.grid-form [data-row-span="2"] > [data-field-span="2"] {
  width: 100%;
}

.grid-form [data-row-span="3"] > [data-field-span="1"] {
  width: 33.33333%;
}

.grid-form [data-row-span="3"] > [data-field-span="2"] {
  width: 66.66667%;
}

.grid-form [data-row-span="3"] > [data-field-span="3"] {
  width: 100%;
}

.grid-form [data-row-span="4"] > [data-field-span="1"] {
  width: 25%;
}

.grid-form [data-row-span="4"] > [data-field-span="2"] {
  width: 50%;
}

.grid-form [data-row-span="4"] > [data-field-span="3"] {
  width: 75%;
}

.grid-form [data-row-span="4"] > [data-field-span="4"] {
  width: 100%;
}

.grid-form [data-row-span="5"] > [data-field-span="1"] {
  width: 20%;
}

.grid-form [data-row-span="5"] > [data-field-span="2"] {
  width: 40%;
}

.grid-form [data-row-span="5"] > [data-field-span="3"] {
  width: 60%;
}

.grid-form [data-row-span="5"] > [data-field-span="4"] {
  width: 80%;
}

.grid-form [data-row-span="5"] > [data-field-span="5"] {
  width: 100%;
}

.grid-form [data-row-span="6"] > [data-field-span="1"] {
  width: 16.66667%;
}

.grid-form [data-row-span="6"] > [data-field-span="2"] {
  width: 33.33333%;
}

.grid-form [data-row-span="6"] > [data-field-span="3"] {
  width: 50%;
}

.grid-form [data-row-span="6"] > [data-field-span="4"] {
  width: 66.66667%;
}

.grid-form [data-row-span="6"] > [data-field-span="5"] {
  width: 83.33333%;
}

.grid-form [data-row-span="6"] > [data-field-span="6"] {
  width: 100%;
}

.grid-form [data-row-span="7"] > [data-field-span="1"] {
  width: 14.28571%;
}

.grid-form [data-row-span="7"] > [data-field-span="2"] {
  width: 28.57143%;
}

.grid-form [data-row-span="7"] > [data-field-span="3"] {
  width: 42.85714%;
}

.grid-form [data-row-span="7"] > [data-field-span="4"] {
  width: 57.14286%;
}

.grid-form [data-row-span="7"] > [data-field-span="5"] {
  width: 71.42857%;
}

.grid-form [data-row-span="7"] > [data-field-span="6"] {
  width: 85.71429%;
}

.grid-form [data-row-span="7"] > [data-field-span="7"] {
  width: 100%;
}

.grid-form [data-row-span="8"] > [data-field-span="1"] {
  width: 12.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="2"] {
  width: 25%;
}

.grid-form [data-row-span="8"] > [data-field-span="3"] {
  width: 37.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="4"] {
  width: 50%;
}

.grid-form [data-row-span="8"] > [data-field-span="5"] {
  width: 62.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="6"] {
  width: 75%;
}

.grid-form [data-row-span="8"] > [data-field-span="7"] {
  width: 87.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="8"] {
  width: 100%;
}

.grid-form [data-row-span="9"] > [data-field-span="1"] {
  width: 11.11111%;
}

.grid-form [data-row-span="9"] > [data-field-span="2"] {
  width: 22.22222%;
}

.grid-form [data-row-span="9"] > [data-field-span="3"] {
  width: 33.33333%;
}

.grid-form [data-row-span="9"] > [data-field-span="4"] {
  width: 44.44444%;
}

.grid-form [data-row-span="9"] > [data-field-span="5"] {
  width: 55.55556%;
}

.grid-form [data-row-span="9"] > [data-field-span="6"] {
  width: 66.66667%;
}

.grid-form [data-row-span="9"] > [data-field-span="7"] {
  width: 77.77778%;
}

.grid-form [data-row-span="9"] > [data-field-span="8"] {
  width: 88.88889%;
}

.grid-form [data-row-span="9"] > [data-field-span="9"] {
  width: 100%;
}

.grid-form [data-row-span="10"] > [data-field-span="1"] {
  width: 10%;
}

.grid-form [data-row-span="10"] > [data-field-span="2"] {
  width: 20%;
}

.grid-form [data-row-span="10"] > [data-field-span="3"] {
  width: 30%;
}

.grid-form [data-row-span="10"] > [data-field-span="4"] {
  width: 40%;
}

.grid-form [data-row-span="10"] > [data-field-span="5"] {
  width: 50%;
}

.grid-form [data-row-span="10"] > [data-field-span="6"] {
  width: 60%;
}

.grid-form [data-row-span="10"] > [data-field-span="7"] {
  width: 70%;
}

.grid-form [data-row-span="10"] > [data-field-span="8"] {
  width: 80%;
}

.grid-form [data-row-span="10"] > [data-field-span="9"] {
  width: 90%;
}

.grid-form [data-row-span="10"] > [data-field-span="10"] {
  width: 100%;
}

.grid-form [data-row-span="11"] > [data-field-span="1"] {
  width: 9.09091%;
}

.grid-form [data-row-span="11"] > [data-field-span="2"] {
  width: 18.18182%;
}

.grid-form [data-row-span="11"] > [data-field-span="3"] {
  width: 27.27273%;
}

.grid-form [data-row-span="11"] > [data-field-span="4"] {
  width: 36.36364%;
}

.grid-form [data-row-span="11"] > [data-field-span="5"] {
  width: 45.45455%;
}

.grid-form [data-row-span="11"] > [data-field-span="6"] {
  width: 54.54545%;
}

.grid-form [data-row-span="11"] > [data-field-span="7"] {
  width: 63.63636%;
}

.grid-form [data-row-span="11"] > [data-field-span="8"] {
  width: 72.72727%;
}

.grid-form [data-row-span="11"] > [data-field-span="9"] {
  width: 81.81818%;
}

.grid-form [data-row-span="11"] > [data-field-span="10"] {
  width: 90.90909%;
}

.grid-form [data-row-span="11"] > [data-field-span="11"] {
  width: 100%;
}

.grid-form [data-row-span="12"] > [data-field-span="1"] {
  width: 8.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="2"] {
  width: 16.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="3"] {
  width: 25%;
}

.grid-form [data-row-span="12"] > [data-field-span="4"] {
  width: 33.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="5"] {
  width: 41.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="6"] {
  width: 50%;
}

.grid-form [data-row-span="12"] > [data-field-span="7"] {
  width: 58.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="8"] {
  width: 66.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="9"] {
  width: 75%;
}

.grid-form [data-row-span="12"] > [data-field-span="10"] {
  width: 83.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="11"] {
  width: 91.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="12"] {
  width: 100%;
}
