/**
*
* Alibi Creator CSS
*
**/
/*==============================
=            Layout           =
==============================*/
/* line 5, scss/_layout.scss */
body {
  margin-top: 2em;
  max-width: 50em;
  margin: auto;
  padding: 1em;
  background-color: rgba(152, 175, 171, 0.53);
  margin-bottom: 3em;
}

/* line 14, scss/_layout.scss */
main {
  max-width: 35em;
  margin: auto;
}

/* line 19, scss/_layout.scss */
footer {
  margin-top: 3em;
  text-align: center;
}

/*============================================
=           Form Element Styling            =
============================================*/
/* line 5, scss/_form-elements.scss */
.grid-form fieldset {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

/*==================================
=           Typography            =
==================================*/
/* line 11, scss/_type.scss */
body, p, li {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
  color: #222;
  font-size: 1.1em;
  line-height: 1.5em;
}

/* line 20, scss/_type.scss */
h1, h2, .caption {
  font-family: "adelle",serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}

/* line 27, scss/_type.scss */
h1.fitThis {
  border-bottom: 5px solid #E3A424;
  line-height: 1.3;
  color: rgba(0, 73, 96, 0.89);
  text-shadow: 5px 3px rgba(193, 178, 172, 0.89);
}

/* line 34, scss/_type.scss */
h1 {
  font-size: 2.9em;
}

/* line 38, scss/_type.scss */
h2 {
  font-size: 1.5em;
}

/* line 42, scss/_type.scss */
.intro {
  text-align: center;
}

/* line 46, scss/_type.scss */
.caption {
  font-size: 1.7em;
  font-style: italic;
}

/* line 51, scss/_type.scss */
.capitalized {
  text-transform: capitalize;
}

/*=============================
=            Links            =
=============================*/
/* line 5, scss/_links.scss */
a {
  color: #222222;
  text-decoration: none;
}
/* line 8, scss/_links.scss */
a:focus {
  text-decoration: none;
}
/* line 11, scss/_links.scss */
a:hover {
  border-bottom: 3px solid #E3A424;
}

/* line 1, scss/bootstrap/_buttons-css.scss */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 27, scss/bootstrap/_buttons-css.scss */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 34, scss/bootstrap/_buttons-css.scss */
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

/* line 39, scss/bootstrap/_buttons-css.scss */
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 47, scss/bootstrap/_buttons-css.scss */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

/* line 55, scss/bootstrap/_buttons-css.scss */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/* line 65, scss/bootstrap/_buttons-css.scss */
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* line 72, scss/bootstrap/_buttons-css.scss */
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

/* line 92, scss/bootstrap/_buttons-css.scss */
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

/* line 96, scss/bootstrap/_buttons-css.scss */
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/* line 100, scss/bootstrap/_buttons-css.scss */
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

/* line 110, scss/bootstrap/_buttons-css.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

/* line 117, scss/bootstrap/_buttons-css.scss */
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

/* line 137, scss/bootstrap/_buttons-css.scss */
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

/* line 141, scss/bootstrap/_buttons-css.scss */
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

/* line 145, scss/bootstrap/_buttons-css.scss */
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/* line 155, scss/bootstrap/_buttons-css.scss */
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

/* line 162, scss/bootstrap/_buttons-css.scss */
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

/* line 182, scss/bootstrap/_buttons-css.scss */
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/* line 186, scss/bootstrap/_buttons-css.scss */
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

/* line 190, scss/bootstrap/_buttons-css.scss */
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

/* line 200, scss/bootstrap/_buttons-css.scss */
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

/* line 207, scss/bootstrap/_buttons-css.scss */
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

/* line 227, scss/bootstrap/_buttons-css.scss */
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

/* line 231, scss/bootstrap/_buttons-css.scss */
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

/* line 235, scss/bootstrap/_buttons-css.scss */
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

/* line 245, scss/bootstrap/_buttons-css.scss */
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

/* line 252, scss/bootstrap/_buttons-css.scss */
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

/* line 272, scss/bootstrap/_buttons-css.scss */
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

/* line 276, scss/bootstrap/_buttons-css.scss */
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

/* line 280, scss/bootstrap/_buttons-css.scss */
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/* line 290, scss/bootstrap/_buttons-css.scss */
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

/* line 297, scss/bootstrap/_buttons-css.scss */
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

/* line 317, scss/bootstrap/_buttons-css.scss */
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

/* line 321, scss/bootstrap/_buttons-css.scss */
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

/* line 325, scss/bootstrap/_buttons-css.scss */
.btn-link {
  font-weight: normal;
  color: #428bca;
  border-radius: 0;
}

/* line 334, scss/bootstrap/_buttons-css.scss */
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 342, scss/bootstrap/_buttons-css.scss */
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

/* line 346, scss/bootstrap/_buttons-css.scss */
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

/* line 354, scss/bootstrap/_buttons-css.scss */
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}

/* line 359, scss/bootstrap/_buttons-css.scss */
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 366, scss/bootstrap/_buttons-css.scss */
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 373, scss/bootstrap/_buttons-css.scss */
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 379, scss/bootstrap/_buttons-css.scss */
.btn-block {
  display: block;
  width: 100%;
}

/* line 383, scss/bootstrap/_buttons-css.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 388, scss/bootstrap/_buttons-css.scss */
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* ================================
=            Elements            =
================================ */
/* line 5, scss/_elements.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

/* line 13, scss/_elements.scss */
hr {
  border-bottom: 4px solid #E3A424;
  margin-bottom: 2em;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

/* line 24, scss/_elements.scss */
li {
  padding: 0.5em;
}

/* ==================================
=            Grid Forms            =
================================== */
/* ! Source:https://github.com/kumailht/gridforms */
/* line 7, scss/_gridforms.scss */
.grid-form *, .grid-form *:before, .grid-form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, scss/_gridforms.scss */
.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background: whitesmoke;
}

/* line 21, scss/_gridforms.scss */
.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea {
  border: 0;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 3px;
}

/* line 27, scss/_gridforms.scss */
.grid-form input[type="text"]::-webkit-input-placeholder, .grid-form input[type="email"]::-webkit-input-placeholder, .grid-form textarea::-webkit-input-placeholder {
  font-weight: 100;
  color: #595959;
}

/* line 31, scss/_gridforms.scss */
.grid-form input[type="text"]:-moz-placeholder, .grid-form input[type="email"]:-moz-placeholder, .grid-form textarea:-moz-placeholder {
  font-weight: 100;
  color: #595959;
}

/* line 35, scss/_gridforms.scss */
.grid-form input[type="text"]:focus, .grid-form input[type="email"]:focus, .grid-form textarea:focus {
  outline: none;
}

/* line 38, scss/_gridforms.scss */
.grid-form fieldset {
  border: none;
  padding: 0;
}

/* line 44, scss/_gridforms.scss */
.grid-form fieldset legend {
  border: none;
  border-bottom: 4px solid #E3A424;
  font-size: 1.3em;
  font-weight: 500;
  position: static;
  width: 100%;
}

/* line 56, scss/_gridforms.scss */
.grid-form fieldset fieldset legend {
  border-bottom: 2px solid #404040;
  font-weight: normal;
}

/* line 60, scss/_gridforms.scss */
.grid-form fieldset fieldset fieldset legend {
  border-bottom: 1px solid #404040;
  font-weight: normal;
  font-size: 15px;
}

/* line 65, scss/_gridforms.scss */
.grid-form [data-row-span] {
  border-bottom: 1px solid #333333;
  width: 100%;
  zoom: 1;
}

/* line 70, scss/_gridforms.scss */
.grid-form [data-row-span]:before, .grid-form [data-row-span]:after {
  content: "";
  display: table;
}

/* line 74, scss/_gridforms.scss */
.grid-form [data-row-span]:after {
  clear: both;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  /* line 78, scss/_gridforms.scss */
  .grid-form [data-row-span] {
    border-bottom: none;
  }
}
/* line 82, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span] {
  padding: 8px;
  float: left;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  /* line 87, scss/_gridforms.scss */
  .grid-form [data-row-span] [data-field-span] {
    border-bottom: 1px solid #333333;
    width: 100% !important;
  }
}
@media screen and (min-width: 700px) {
  /* line 93, scss/_gridforms.scss */
  .grid-form [data-row-span] [data-field-span] {
    border-right: 1px solid #333333;
    display: block;
  }
}
/* line 98, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span] label:first-child {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #333333;
  display: block;
  margin-bottom: 4px;
}

/* line 107, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span] label:first-child:hover {
  cursor: text;
}

/* line 110, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span]:last-child {
  border-right: none;
}

/* line 113, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span].focus {
  background: rgba(57, 53, 111, 0.11);
}

/* line 116, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span].focus label {
  color: #262626;
}

/* line 119, scss/_gridforms.scss */
.grid-form [data-row-span] [data-field-span]:hover {
  background-color: rgba(57, 53, 111, 0.11);
  cursor: text;
}

/* line 123, scss/_gridforms.scss */
.grid-form [data-row-span="1"] > [data-field-span="1"] {
  width: 100%;
}

/* line 126, scss/_gridforms.scss */
.grid-form [data-row-span="2"] > [data-field-span="1"] {
  width: 50%;
}

/* line 129, scss/_gridforms.scss */
.grid-form [data-row-span="2"] > [data-field-span="2"] {
  width: 100%;
}

/* line 132, scss/_gridforms.scss */
.grid-form [data-row-span="3"] > [data-field-span="1"] {
  width: 33.33333%;
}

/* line 135, scss/_gridforms.scss */
.grid-form [data-row-span="3"] > [data-field-span="2"] {
  width: 66.66667%;
}

/* line 138, scss/_gridforms.scss */
.grid-form [data-row-span="3"] > [data-field-span="3"] {
  width: 100%;
}

/* line 141, scss/_gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="1"] {
  width: 25%;
}

/* line 144, scss/_gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="2"] {
  width: 50%;
}

/* line 147, scss/_gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="3"] {
  width: 75%;
}

/* line 150, scss/_gridforms.scss */
.grid-form [data-row-span="4"] > [data-field-span="4"] {
  width: 100%;
}

/* line 153, scss/_gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="1"] {
  width: 20%;
}

/* line 156, scss/_gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="2"] {
  width: 40%;
}

/* line 159, scss/_gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="3"] {
  width: 60%;
}

/* line 162, scss/_gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="4"] {
  width: 80%;
}

/* line 165, scss/_gridforms.scss */
.grid-form [data-row-span="5"] > [data-field-span="5"] {
  width: 100%;
}

/* line 168, scss/_gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="1"] {
  width: 16.66667%;
}

/* line 171, scss/_gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="2"] {
  width: 33.33333%;
}

/* line 174, scss/_gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="3"] {
  width: 50%;
}

/* line 177, scss/_gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="4"] {
  width: 66.66667%;
}

/* line 180, scss/_gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="5"] {
  width: 83.33333%;
}

/* line 183, scss/_gridforms.scss */
.grid-form [data-row-span="6"] > [data-field-span="6"] {
  width: 100%;
}

/* line 186, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="1"] {
  width: 14.28571%;
}

/* line 189, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="2"] {
  width: 28.57143%;
}

/* line 192, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="3"] {
  width: 42.85714%;
}

/* line 195, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="4"] {
  width: 57.14286%;
}

/* line 198, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="5"] {
  width: 71.42857%;
}

/* line 201, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="6"] {
  width: 85.71429%;
}

/* line 204, scss/_gridforms.scss */
.grid-form [data-row-span="7"] > [data-field-span="7"] {
  width: 100%;
}

/* line 207, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="1"] {
  width: 12.5%;
}

/* line 210, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="2"] {
  width: 25%;
}

/* line 213, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="3"] {
  width: 37.5%;
}

/* line 216, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="4"] {
  width: 50%;
}

/* line 219, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="5"] {
  width: 62.5%;
}

/* line 222, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="6"] {
  width: 75%;
}

/* line 225, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="7"] {
  width: 87.5%;
}

/* line 228, scss/_gridforms.scss */
.grid-form [data-row-span="8"] > [data-field-span="8"] {
  width: 100%;
}

/* line 231, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="1"] {
  width: 11.11111%;
}

/* line 234, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="2"] {
  width: 22.22222%;
}

/* line 237, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="3"] {
  width: 33.33333%;
}

/* line 240, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="4"] {
  width: 44.44444%;
}

/* line 243, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="5"] {
  width: 55.55556%;
}

/* line 246, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="6"] {
  width: 66.66667%;
}

/* line 249, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="7"] {
  width: 77.77778%;
}

/* line 252, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="8"] {
  width: 88.88889%;
}

/* line 255, scss/_gridforms.scss */
.grid-form [data-row-span="9"] > [data-field-span="9"] {
  width: 100%;
}

/* line 258, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="1"] {
  width: 10%;
}

/* line 261, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="2"] {
  width: 20%;
}

/* line 264, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="3"] {
  width: 30%;
}

/* line 267, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="4"] {
  width: 40%;
}

/* line 270, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="5"] {
  width: 50%;
}

/* line 273, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="6"] {
  width: 60%;
}

/* line 276, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="7"] {
  width: 70%;
}

/* line 279, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="8"] {
  width: 80%;
}

/* line 282, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="9"] {
  width: 90%;
}

/* line 285, scss/_gridforms.scss */
.grid-form [data-row-span="10"] > [data-field-span="10"] {
  width: 100%;
}

/* line 288, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="1"] {
  width: 9.09091%;
}

/* line 291, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="2"] {
  width: 18.18182%;
}

/* line 294, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="3"] {
  width: 27.27273%;
}

/* line 297, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="4"] {
  width: 36.36364%;
}

/* line 300, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="5"] {
  width: 45.45455%;
}

/* line 303, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="6"] {
  width: 54.54545%;
}

/* line 306, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="7"] {
  width: 63.63636%;
}

/* line 309, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="8"] {
  width: 72.72727%;
}

/* line 312, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="9"] {
  width: 81.81818%;
}

/* line 315, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="10"] {
  width: 90.90909%;
}

/* line 318, scss/_gridforms.scss */
.grid-form [data-row-span="11"] > [data-field-span="11"] {
  width: 100%;
}

/* line 321, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="1"] {
  width: 8.33333%;
}

/* line 324, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="2"] {
  width: 16.66667%;
}

/* line 327, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="3"] {
  width: 25%;
}

/* line 330, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="4"] {
  width: 33.33333%;
}

/* line 333, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="5"] {
  width: 41.66667%;
}

/* line 336, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="6"] {
  width: 50%;
}

/* line 339, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="7"] {
  width: 58.33333%;
}

/* line 342, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="8"] {
  width: 66.66667%;
}

/* line 345, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="9"] {
  width: 75%;
}

/* line 348, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="10"] {
  width: 83.33333%;
}

/* line 351, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="11"] {
  width: 91.66667%;
}

/* line 354, scss/_gridforms.scss */
.grid-form [data-row-span="12"] > [data-field-span="12"] {
  width: 100%;
}
