/**
*
* Alibi Creator CSS
*
**/
/*==============================
=            Layout           =
==============================*/
body {
  margin-top: 2em;
  max-width: 50em;
  margin: auto;
  padding: 1em;
  background-color: rgba(152, 175, 171, 0.53);
  margin-bottom: 3em;
}

main {
  max-width: 45em;
}

footer {
  margin-top: 3em;
  text-align: center;
}

/*============================================
=           Form Element Styling            =
============================================*/
.grid-form fieldset {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

/*==================================
=           Typography            =
==================================*/
body, p, li {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
  color: #222;
  font-size: 1.1em;
  line-height: 1.5em;
}

h1, h2, .caption {
  font-family: "adelle",serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}

h1.fitThis {
  border-bottom: 5px solid #E3A424;
  line-height: 1.3;
  color: rgba(0, 73, 96, 0.89);
  text-shadow: 5px 3px rgba(193, 178, 172, 0.89);
}

h1 {
  font-size: 2.9em;
}

h2 {
  font-size: 1.5em;
}

.intro {
  text-align: center;
}

.caption {
  font-size: 1.7em;
  font-style: italic;
}

.capitalized {
  text-transform: capitalize;
}

/*=============================
=            Links            =
=============================*/
a {
  color: #222222;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover {
  border-bottom: 3px solid #E3A424;
}

/*
 * Bootstrap v3.3.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}

.btn:active,
.btn.active {
  background-image: none;
}

.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}

.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#2d6ca2));
  background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #2b669a;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #2d6ca2;
  border-color: #2b669a;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #2d6ca2;
  background-image: none;
}

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}

.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}

.btn-success:disabled,
.btn-success[disabled] {
  background-color: #419641;
  background-image: none;
}

.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}

.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}

.btn-info:disabled,
.btn-info[disabled] {
  background-color: #2aabd2;
  background-image: none;
}

.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}

.btn-warning:disabled,
.btn-warning[disabled] {
  background-color: #eb9316;
  background-image: none;
}

.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}

.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #c12e2a;
  background-image: none;
}

/* ================================
=            Elements            =
================================ */
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

hr {
  border-bottom: 4px solid #E3A424;
  margin-bottom: 2em;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

li {
  padding: 0.5em;
}

/* ==================================
=            Grid Forms            =
================================== */
/* ! Source:https://github.com/kumailht/gridforms */
.grid-form *, .grid-form *:before, .grid-form *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background: whitesmoke;
}

.grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea {
  border: 0;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 3px;
}

.grid-form input[type="text"]::-webkit-input-placeholder, .grid-form input[type="email"]::-webkit-input-placeholder, .grid-form textarea::-webkit-input-placeholder {
  font-weight: 100;
  color: #595959;
}

.grid-form input[type="text"]:-moz-placeholder, .grid-form input[type="email"]:-moz-placeholder, .grid-form textarea:-moz-placeholder {
  font-weight: 100;
  color: #595959;
}

.grid-form input[type="text"]:focus, .grid-form input[type="email"]:focus, .grid-form textarea:focus {
  outline: none;
}

.grid-form fieldset {
  border: none;
  padding: 0;
}

.grid-form fieldset legend {
  border: none;
  border-bottom: 4px solid #E3A424;
  font-size: 1.3em;
  font-weight: 500;
  position: static;
  width: 100%;
}

.grid-form fieldset fieldset legend {
  border-bottom: 2px solid #404040;
  font-weight: normal;
}

.grid-form fieldset fieldset fieldset legend {
  border-bottom: 1px solid #404040;
  font-weight: normal;
  font-size: 15px;
}

.grid-form [data-row-span] {
  border-bottom: 1px solid #333333;
  width: 100%;
  zoom: 1;
}

.grid-form [data-row-span]:before, .grid-form [data-row-span]:after {
  content: "";
  display: table;
}

.grid-form [data-row-span]:after {
  clear: both;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  .grid-form [data-row-span] {
    border-bottom: none;
  }
}
.grid-form [data-row-span] [data-field-span] {
  padding: 8px;
  float: left;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  .grid-form [data-row-span] [data-field-span] {
    border-bottom: 1px solid #333333;
    width: 100% !important;
  }
}
@media screen and (min-width: 700px) {
  .grid-form [data-row-span] [data-field-span] {
    border-right: 1px solid #333333;
    display: block;
  }
}
.grid-form [data-row-span] [data-field-span] label:first-child {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #333333;
  display: block;
  margin-bottom: 4px;
}

.grid-form [data-row-span] [data-field-span] label:first-child:hover {
  cursor: text;
}

.grid-form [data-row-span] [data-field-span]:last-child {
  border-right: none;
}

.grid-form [data-row-span] [data-field-span].focus {
  background: rgba(57, 53, 111, 0.11);
}

.grid-form [data-row-span] [data-field-span].focus label {
  color: #262626;
}

.grid-form [data-row-span] [data-field-span]:hover {
  background-color: rgba(57, 53, 111, 0.11);
  cursor: text;
}

.grid-form [data-row-span="1"] > [data-field-span="1"] {
  width: 100%;
}

.grid-form [data-row-span="2"] > [data-field-span="1"] {
  width: 50%;
}

.grid-form [data-row-span="2"] > [data-field-span="2"] {
  width: 100%;
}

.grid-form [data-row-span="3"] > [data-field-span="1"] {
  width: 33.33333%;
}

.grid-form [data-row-span="3"] > [data-field-span="2"] {
  width: 66.66667%;
}

.grid-form [data-row-span="3"] > [data-field-span="3"] {
  width: 100%;
}

.grid-form [data-row-span="4"] > [data-field-span="1"] {
  width: 25%;
}

.grid-form [data-row-span="4"] > [data-field-span="2"] {
  width: 50%;
}

.grid-form [data-row-span="4"] > [data-field-span="3"] {
  width: 75%;
}

.grid-form [data-row-span="4"] > [data-field-span="4"] {
  width: 100%;
}

.grid-form [data-row-span="5"] > [data-field-span="1"] {
  width: 20%;
}

.grid-form [data-row-span="5"] > [data-field-span="2"] {
  width: 40%;
}

.grid-form [data-row-span="5"] > [data-field-span="3"] {
  width: 60%;
}

.grid-form [data-row-span="5"] > [data-field-span="4"] {
  width: 80%;
}

.grid-form [data-row-span="5"] > [data-field-span="5"] {
  width: 100%;
}

.grid-form [data-row-span="6"] > [data-field-span="1"] {
  width: 16.66667%;
}

.grid-form [data-row-span="6"] > [data-field-span="2"] {
  width: 33.33333%;
}

.grid-form [data-row-span="6"] > [data-field-span="3"] {
  width: 50%;
}

.grid-form [data-row-span="6"] > [data-field-span="4"] {
  width: 66.66667%;
}

.grid-form [data-row-span="6"] > [data-field-span="5"] {
  width: 83.33333%;
}

.grid-form [data-row-span="6"] > [data-field-span="6"] {
  width: 100%;
}

.grid-form [data-row-span="7"] > [data-field-span="1"] {
  width: 14.28571%;
}

.grid-form [data-row-span="7"] > [data-field-span="2"] {
  width: 28.57143%;
}

.grid-form [data-row-span="7"] > [data-field-span="3"] {
  width: 42.85714%;
}

.grid-form [data-row-span="7"] > [data-field-span="4"] {
  width: 57.14286%;
}

.grid-form [data-row-span="7"] > [data-field-span="5"] {
  width: 71.42857%;
}

.grid-form [data-row-span="7"] > [data-field-span="6"] {
  width: 85.71429%;
}

.grid-form [data-row-span="7"] > [data-field-span="7"] {
  width: 100%;
}

.grid-form [data-row-span="8"] > [data-field-span="1"] {
  width: 12.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="2"] {
  width: 25%;
}

.grid-form [data-row-span="8"] > [data-field-span="3"] {
  width: 37.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="4"] {
  width: 50%;
}

.grid-form [data-row-span="8"] > [data-field-span="5"] {
  width: 62.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="6"] {
  width: 75%;
}

.grid-form [data-row-span="8"] > [data-field-span="7"] {
  width: 87.5%;
}

.grid-form [data-row-span="8"] > [data-field-span="8"] {
  width: 100%;
}

.grid-form [data-row-span="9"] > [data-field-span="1"] {
  width: 11.11111%;
}

.grid-form [data-row-span="9"] > [data-field-span="2"] {
  width: 22.22222%;
}

.grid-form [data-row-span="9"] > [data-field-span="3"] {
  width: 33.33333%;
}

.grid-form [data-row-span="9"] > [data-field-span="4"] {
  width: 44.44444%;
}

.grid-form [data-row-span="9"] > [data-field-span="5"] {
  width: 55.55556%;
}

.grid-form [data-row-span="9"] > [data-field-span="6"] {
  width: 66.66667%;
}

.grid-form [data-row-span="9"] > [data-field-span="7"] {
  width: 77.77778%;
}

.grid-form [data-row-span="9"] > [data-field-span="8"] {
  width: 88.88889%;
}

.grid-form [data-row-span="9"] > [data-field-span="9"] {
  width: 100%;
}

.grid-form [data-row-span="10"] > [data-field-span="1"] {
  width: 10%;
}

.grid-form [data-row-span="10"] > [data-field-span="2"] {
  width: 20%;
}

.grid-form [data-row-span="10"] > [data-field-span="3"] {
  width: 30%;
}

.grid-form [data-row-span="10"] > [data-field-span="4"] {
  width: 40%;
}

.grid-form [data-row-span="10"] > [data-field-span="5"] {
  width: 50%;
}

.grid-form [data-row-span="10"] > [data-field-span="6"] {
  width: 60%;
}

.grid-form [data-row-span="10"] > [data-field-span="7"] {
  width: 70%;
}

.grid-form [data-row-span="10"] > [data-field-span="8"] {
  width: 80%;
}

.grid-form [data-row-span="10"] > [data-field-span="9"] {
  width: 90%;
}

.grid-form [data-row-span="10"] > [data-field-span="10"] {
  width: 100%;
}

.grid-form [data-row-span="11"] > [data-field-span="1"] {
  width: 9.09091%;
}

.grid-form [data-row-span="11"] > [data-field-span="2"] {
  width: 18.18182%;
}

.grid-form [data-row-span="11"] > [data-field-span="3"] {
  width: 27.27273%;
}

.grid-form [data-row-span="11"] > [data-field-span="4"] {
  width: 36.36364%;
}

.grid-form [data-row-span="11"] > [data-field-span="5"] {
  width: 45.45455%;
}

.grid-form [data-row-span="11"] > [data-field-span="6"] {
  width: 54.54545%;
}

.grid-form [data-row-span="11"] > [data-field-span="7"] {
  width: 63.63636%;
}

.grid-form [data-row-span="11"] > [data-field-span="8"] {
  width: 72.72727%;
}

.grid-form [data-row-span="11"] > [data-field-span="9"] {
  width: 81.81818%;
}

.grid-form [data-row-span="11"] > [data-field-span="10"] {
  width: 90.90909%;
}

.grid-form [data-row-span="11"] > [data-field-span="11"] {
  width: 100%;
}

.grid-form [data-row-span="12"] > [data-field-span="1"] {
  width: 8.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="2"] {
  width: 16.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="3"] {
  width: 25%;
}

.grid-form [data-row-span="12"] > [data-field-span="4"] {
  width: 33.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="5"] {
  width: 41.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="6"] {
  width: 50%;
}

.grid-form [data-row-span="12"] > [data-field-span="7"] {
  width: 58.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="8"] {
  width: 66.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="9"] {
  width: 75%;
}

.grid-form [data-row-span="12"] > [data-field-span="10"] {
  width: 83.33333%;
}

.grid-form [data-row-span="12"] > [data-field-span="11"] {
  width: 91.66667%;
}

.grid-form [data-row-span="12"] > [data-field-span="12"] {
  width: 100%;
}
