/*================================
=            Elements            =
================================*/

span.highlight {
	background-color: rgba(67, 36, 133, 0.22);
	padding-top: 1px;
	padding-bottom: 2px;
}

ul li span.highlight {
	background-color: rgba(44, 165, 150, 0.22);
}

hr {
	color: #586A79;
	border: 1px solid;
	margin-bottom:2em;
}