/*==================================
=           Typography            =
==================================*/

body {
	font-family: sans-serif;
	background-color: rgba(236, 217, 168, 0.43);
	font-weight:400;
	color:#222;
}

h1, h2 {
	color: #586A79;
	text-align: center;
	font-weight:600;
}

h1 {
	font-size: 2.9em;
}

h2 {
	font-size: 1.5em;
}